body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #2e2e2e, #353535);
  color: #fff;
  display: flex;
  flex-direction: column; /* Change to column layout */
}

.container {
  background: rgba(53, 53, 53, 0.95);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  margin: 30px auto; /* Center the container */
  text-align: center;
}

h1 {
  color: #64ffda;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  color: #64ffda;
}

input,
select {
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 18px;
  border: 1px solid #464646;
  border-radius: 8px;
  font-size: 14px;
  background: rgba(78, 78, 78, 0.9);
  color: #fff;
  width: calc(100% - 24px); /* Adjust width and padding */
}

button {
  background-color: #64ffda;
  color: #121212;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: calc(100% - 24px); /* Adjust width and padding */
}

button:hover {
  background-color: #52e5c7;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 18px;
  background: rgba(78, 78, 78, 0.9);
  padding: 18px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

li:hover {
  transform: scale(1.05);
}

/* Footer Styling */
footer {
  text-align: center;
  color: #aaa;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #464646;
}

/* Optional: Add animation for a more modern feel */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container,
ul,
form,
footer {
  animation: fadeIn 0.5s ease-in-out;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  li {
    flex-direction: row; /* Change back to row layout on small screens */
  }
}
